<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/theme.css"
            id="com.cvanes.eclipse.ubuntu.theme"
            label="Ubuntu Theme">
      </theme>
   </extension>

</plugin>
